/* Nav Bar */
.navbar {
    padding: 25px 50px 25px 50px; 
    opacity: 0.2; 
    background-color: black!important; 
    border-bottom: 1px solid yellow; 
}

.navbar-brand {
    font-size: 25px;
    padding-bottom: 10px; 
}

.navbar-nav a:hover {
    background-color: black!important;
    color: white!important;  
}


/* Section #1 */
#section1 {
    color: black; 
    padding-top: 155px; 
    padding-bottom: 15px; 
    background: white; 
    /* background-image: none;  */ 
/* background-image:url("http://i66.tinypic.com/2ue5pic.jpg");
    background-size: 100%;
     background-repeat: no-repeat;  */
}

.about-head {
   position: relative;
   top: -60%;
   left: 50%;
   transform: translate(-50%, -50%); 
   font-size: 20px;
   
   
   
  
   
    /* ;
    padding-bottom: 0;
    margin-bottom: 0; 
    margin-top: 0;    */
}

.about1 {
    color: yellow; 
}

.quote {
    /* font-family: 'Great Vibes', cursive; */
    position: relative;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 15px;
}

.btn {
    padding: 10px;  
   
}

.middle a {
    text-decoration: none; 
    color: white; 
  
}

.image-with-text {
    position: relative; 
    text-align: center; 
    color: white; 
}

.centerphoto {
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.computer {
    padding-top: 0;
    filter: grayscale(100%);
     -webkit-filter: grayscale(1);
    
}

.triangle {
    width:0; 
    height: 0;
    border-left: 25px solid transparent; 
    border-right: 25px solid transparent; 
    border-top: 50px solid white; 
    margin-left: 165px; 
    /* text-align: center;  */
}

.view-portfolio:hover { 
    border: 4px solid yellow; 
}

.view-portfolio {
    margin-top: 30px; 
    background-color:grey;
    padding: 15px 32px;
    font: bold; 
    color: white;    
}

/* Section #2 */
#section2 {
    padding-top: 0; 
    padding-bottom: 5px; 
    background:white;
}

.section2-about{
    /* padding-bottom: 10px;  */
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Tangerine', cursive;
    font-size: 40px; 
}

.vl {
    border-left: hidden;
     height: hidden;
}

.aboutp {
    color: gray;  
} 

.aboutphoto {
        border-radius: 50%;
        width:300px;
        height:300px;
        display: block;
        margin-left: auto;
        margin-right: auto; 
    } 

.section2-exper {
    margin-bottom: 0; 
    font-family: 'Tangerine', cursive;
     
  
}

.service-sec {
  padding-left: 60px; 
}


ul {
    text-align: center; 
    display: block; 
    padding: 0; 
    padding-top: 0; 
}
 
 li {
    margin: 0px; 
    text-align: center; 
    display: block; 
    padding-top: 10px; 
} 

img {
    max-width: 100%;
    
  }

  .portfoliopic {
      width: 312.5px; 
      height: 234.38px;
     
  }

  .portphoto {
    margin-bottom: 7px; 
    height: 200px;
    width: 100%;  
  }
/* 
  .portphoto:hover {
      filter: none; 
      -webkit-filter: grayscale(0); 
      -webkit-transform: scale(1.01); 
  } */

  .middle {
      transition: .5s ease; 
      opacity: 0;
      position: absolute; 
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      -ms-transform: translate(-50%, -50%); 
      text-align: center; 
  }

/* .kitten-box:hover .portphoto {
    filter: none; 
    -webkit-filter: grayscale(0); 
    -webkit-transform: scale(1.01); 
} */

  .kitten-box .middle {
      opacity: 1;
      
  } 

  .view-project {
      padding: 14px 40px; 
      /* background-color: white;  */
      background-color: #000; 
      border: 2px solid #000;
      color: #FFF;
      font-weight: bolder;  
      opacity: .6; 
  }

  .view-project2 {
    background-color: #fff; 
     
  }

  .view-project2 a {
    color: black;
    font-weight: bolder;
    /*opacity: .7;  */
  }

  .project-sub {
    margin-top: 5px; 
    padding: 10px; 
    background-color: black; 
    color: white; 
    font-size: 12px; 
  }

  .project-sub2 {
    background-color: #fff; 
    color: #000; 
    font-weight: bolder;
  }


  /* no-gutters Class Rules */
  /* .row.no-gutters {
      margin-right: 0;
     margin-left: 0; 
      margin: 0 auto;
     
  } */
   /* .row.no-gutters > [class^="col-"],
  .row.no-gutters > [class*=" col-"] {
     padding-right: 0;
     padding-left: 0;
  }  */

.section2-services {
    font-family: 'Tangerine', cursive;
    margin-top: 25px; 
    padding-bottom: 15px; 
    margin-bottom: 20px; 
    
}

/* h6 {
    margin-left: 20px; 
} */



.ephoto {
    width: 100px;
    height: 100px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;

}

.servp {
    color: gray; 
    padding-bottom: 5px; 
}

/* Section #3 */
#section3 {
    padding-top: 50px; 
/*     padding-bottom: 70px; */
  padding-bottom:0; 
    background:white;  
}

.contact-head {
    margin-bottom: 10px; 
    font-size: 13px; 
    padding-top: 20px; 
}

.whiteSpace {
    margin-bottom: 20px; 
}

.contact-details {
    color: black;  
    font-size: 35px; 
}

.contact-info li a  {
    color: gray;
}

i {
    margin: 10px; 
    margin-right: 10px;
}

li a {
    font-size: 13px; 
}

.contact-form {
    background-color: none; 
    /* opacity: 0.5;  */
}

/*.con-img {*/
 /* background-image: url("contact.jpg");*/
/* background-image: url("lauren-mancke-96705-unsplash.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  opacity: 0.5; 
  filter: grayscale(70%);
}*/

#section4 {
  /*background-image: url("lauren-mancke-96705-unsplash.jpg");*/
  background-size: cover; 
  background-repeat: no-repeat;
  opacity: 0.5; 
  filter: grayscale(70%);
}

.form-submit {
    background-color: transparent; 
    color: #000; 
    border: 1px solid #000; 
}

.form-control, .form-group {
  border-top: medium none; 
  border-left: medium none; 
  border-right: medium none; 
  box-shadow:none;
/*opacity: 0.6; */
background-color: transparent;
  
}

input, textarea {
outline: none;
box-shadow:none !important;

}

.form-submit:hover {
   /* border: 4px solid yellow;*/
   font-weight: bolder;
}

body {
    position: relative;
}

/* Contact Form Alert  */
.alert{
    text-align: center; 
    padding: 10px; 
    background: gray; 
    color: white;
    margin-bottom: 10px; 
    display: none; 
} 

.panel-footer {
/*  border-top: 1px solid #000; */
   background-color: #fff; 
   color: #000; 
 
   margin-top: 15px; 
   
}

.copyw {
    font-size: 13px; 
}

.yello {
    color: #000; 
}

.foot1 {
    color: #000; 
    
}
caption {
  color: black!important;
  padding: 10px; 
  background-color: #000;  
}
