/* Nav Bar */
.navbar {
    padding: 25px 50px 25px 50px; 

    opacity: 0.2; 
    background-color: black!important; 
    border-bottom: 1px solid yellow; 
}

.navbar-brand {
    font-size: 25px;
    padding-bottom: 10px; 
}


/* Section #1 */
#section1 {
    color: black; 
    padding-top: 130px; 
    padding-bottom: 15px; 
    background: white; 
    /* background-image: none;  */ 
/* background-image:url("http://i66.tinypic.com/2ue5pic.jpg");
    background-size: 100%;
     background-repeat: no-repeat;  */
}

.about-head {
   position: relative;
   top: -60%;
   left: 50%;
   transform: translate(-50%, -50%); 
   font-size: 20px;
   
   
   
  
   
    /* ;
    padding-bottom: 0;
    margin-bottom: 0; 
    margin-top: 0;    */
}

.about1 {
    color: yellow; 
}

.quote {
    /* font-family: 'Great Vibes', cursive; */
    position: relative;
    top: -3%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 15px;
    
}

.image-with-text {
    position: relative; 
    text-align: center; 
    color: white; 
}

.centerphoto {
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.computer {
    padding-top: 0;
    
}

.triangle {
    width:0; 
    height: 0;
    border-left: 25px solid transparent; 
    border-right: 25px solid transparent; 
    border-top: 50px solid white; 
    margin-left: 165px; 
    /* text-align: center;  */
}

.view-portfolio:hover { 
    border: 4px solid yellow; 
}

.view-portfolio {
    margin-top: 30px; 
    background-color:grey;
    padding: 15px 32px;
    font: bold; 
    color: white;    
}

/* Section #2 */
#section2 {
    padding-top: 30px; 
    padding-bottom: 70px; 
    background:white;
}

.section2-about{
    padding-bottom: 10px; 
}

/* Section #3 */
#section3 {
    padding-top: 70px; 
    padding-bottom: 70px;
    background:black;  
}

body {
    position: relative;
}

/* Contact Form Alert  */
.alert{
    text-align: center; 
    padding: 10px; 
    background: salmon; 
    color: white;
    margin-bottom: 10px; 
    display: none; 
} 