/* Nav Bar */
.navbar {
    padding: 25px 50px 25px 50px; 
   
    
    border-bottom: 1px solid yellow; 
}

.navbar-toggler {
  color: gray!important; 
}

/*NAV*/

.about1 {
    color: #ff0080!important; 
}

  .jumbotron {
/*     background-image: url("http://i64.tinypic.com/v2wcoh.jpg"); */
        /*background-image: url("http://i66.tinypic.com/2pr9v2f.jpg");*/
            
 background-image: url("headerpic.jpg");

/*     background-image: url("http://i68.tinypic.com/1255nwk.jpg"); */
     /*-webkit-filter: grayscale(65%);  Safari 6.0 - 9.0 
    filter: grayscale(65%);*/
/*       background-color: #f4511e; */
   
    background-repeat: no-repeat; 
   background-size: contain; 
   padding-top:0; 
    padding-bottom:0; 
    margin-bottom:0; 
background-color: #fff;
      color: #fff;
      /*padding: 100px 25px;*/
      font-family: Montserrat, sans-serif!important;
  }
.jumbotron h1 {
  margin-top: 260px; 
  color: #000;
  font-size:14px; 
}

.jumbotron h3 {
  color:#000;
  
}


.navbar {
      margin-bottom: 0;
      background-color: #000;
      opacity: .8; 
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
      padding: 2px 8px; 

/*      background-image: url("http://i64.tinypic.com/v2wcoh.jpg"); */
    /* background-image: url("photo11.jpg");*/
  
/*   background-image: url("http://i68.tinypic.com/1255nwk.jpg"); */
    background-repeat:no-repeat; 
    background-size:cover; 
    -webkit-filter: grayscale(65%); /* Safari 6.0 - 9.0 */
    filter: grayscale(65%);
  }
  
  .navbar li a{
    color: gray!important;
 /*  
    background-color: transparent;  */
  }

.navbar-brand {
    font-size: 17px;
    padding-bottom: 10px;
    color: gray!important;  
}

.navbar-nav a:hover {
   
    color: #ff0080!important;  
}



/* Section #1 */
#section1 {
    color: black; 
    padding-top: 155px; 
    padding-bottom: 15px; 
    background: white; 
    /* background-image: none;  */ 
/* background-image:url("http://i66.tinypic.com/2ue5pic.jpg");
    background-size: 100%;
     background-repeat: no-repeat;  */
}

.about-head {
   /*position: relative;
   top: -60%;
   left: 50%;
   transform: translate(-50%, -50%); */
   font-size: 20px;
   font-family: "Times New Roman", cursive; 
   letter-spacing: 8px; 
   }
   
   
  
   

.about1 {
    color: #000; 
}

.quote {
    /* font-family: 'Great Vibes', cursive; */
    position: relative;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 15px;
}

.btn-a {
  opacity:.4; 
   background-color:#000;  
 padding: 10px;
color: #fff; 
margin-top: 15px; 
  
 
} 
   
.btn-c {
  opacity: 1; 
}

.middle a {
    text-decoration: none; 
    color: white; 
  
}

.image-with-text {
    position: relative; 
    text-align: center; 
    color: white; 
}

.centerphoto {
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.computer {
    padding-top: 0;
    filter: grayscale(100%);
     -webkit-filter: grayscale(1);
    
}

.triangle {
    width:0; 
    height: 0;
    border-left: 25px solid transparent; 
    border-right: 25px solid transparent; 
    border-top: 50px solid white; 
    margin-left: 165px; 
    /* text-align: center;  */
}

.view-portfolio:hover { 
    border: 4px solid yellow; 
}

.view-portfolio {
    margin-top: 30px; 
    background-color:grey;
    padding: 15px 32px;
    font: bold; 
    color: white;    
}

/* Section #2 */
#section2 {
    padding-top: 0; 
    padding-bottom: 5px; 
    background:white;
}

.section2-about{
    /* padding-bottom: 10px;  */
    /* font-family: 'Dancing Script', cursive; */
    /*color: #ff0080; */
    font-family: "Times New Roman", cursive;
    font-size: 30px; 
}

.vl {
    border-left: hidden;
     height: hidden;
}

.aboutp {
    color: gray;  
    text-align: center; 
} 

.aboutphoto {

        border-radius: 5px;
        width:300px;
        height:300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
     box-shadow: 0 0 3px 3px lightgrey inset;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);


    } 

.section2-exper {
    margin-bottom: 0; 
    font-family: "Times New Roman" , cursive;

     
  
}

.service-sec {
  padding-left: 60px; 
}


ul {
    text-align: center; 
    display: block; 
    padding: 0; 
    padding-top: 0; 
}
 
 li {
    margin: 0px; 
    text-align: center; 
    display: block; 
    padding-top: 10px; 
} 

img {
    max-width: 100%;
    
  }

  .portfoliopic {
      width: 312.5px; 
      height: 234.38px;
     
  }

  .portphoto {
    margin-bottom: 7px; 
    height: 200px;
    width: 100%;  
  }

  .my-pt {
    color: #ff0080; 
  }

  .aboutp {

    /*text-align: left!important; */
  }
/* 
  .portphoto:hover {
      filter: none; 
      -webkit-filter: grayscale(0); 
      -webkit-transform: scale(1.01); 
  } */

  .middle {
      transition: .5s ease; 
      opacity: 0;
      position: absolute; 
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      -ms-transform: translate(-50%, -50%); 
      text-align: center; 
  }

/* .kitten-box:hover .portphoto {
    filter: none; 
    -webkit-filter: grayscale(0); 
    -webkit-transform: scale(1.01); 
} */

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; 
    color: #fff; 
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.ephoto {
   width: 100%;
   height: auto;  
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    margin-bottom: 10px; 
}

.ephoto-p { 
  font-size: 20px; 
  color: #ff0080; 
  font-weight: bolder;
}

  .kitten-box .middle {
      opacity: 1;
      
  } 

  .view-project {
      padding: 14px 40px; 
      /* background-color: white;  */
      background-color: #000; 
      border: 2px solid #000;
      color: #FFF;
      font-weight: bolder;  
      opacity: .6; 
  }

  .view-project2 {
    background-color: #fff; 
     
  }

  .view-project2 a {
    color: black;
    font-weight: bolder;
    /*opacity: .7;  */
  }

  .project-sub {
    margin-top: 5px; 
    padding: 10px; 
    background-color: black; 
    color: white; 
    font-size: 12px; 
  }

  .project-sub2 {
    background-color: #fff; 
    color: #000; 
    font-weight: bolder;
  }


  /* no-gutters Class Rules */
  /* .row.no-gutters {
      margin-right: 0;
     margin-left: 0; 
      margin: 0 auto;
     
  } */
   /* .row.no-gutters > [class^="col-"],
  .row.no-gutters > [class*=" col-"] {
     padding-right: 0;
     padding-left: 0;
  }  */

.section2-services {
    font-family: 'Times New Roman', cursive;
    margin-top: 25px; 
    padding-bottom: 15px; 
    margin-bottom: 20px; 
    
}

/* h6 {
    margin-left: 20px; 
} */


/*
.ephoto { 
    width: 100px;
    height: 100px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;

}*/

.servp {
    color: gray; 
    padding-bottom: 5px; 
}

/* Section #3 */
#section3 {
   
/*     padding-bottom: 70px; */
  padding-bottom:0; 
    background:white;  
}

.contact-head {
    margin-bottom: 10px; 
    font-size: 13px; 
    padding-top: 20px; 
}

.whiteSpace {
    margin-bottom: 20px; 
}

.contact-details {
    color: black;  
    font-size: 35px; 
}

.contact-info li a  {
    color: gray;
}

i {
    margin: 10px; 
    margin-right: 10px;
}

li a {
    font-size: 15px; 
    font-weight: bolder;
}

.contact-form {
    background-color: none; 
    /* opacity: 0.5;  */
}

/*.con-img {*/
 /* background-image: url("contact.jpg");*/
/* background-image: url("lauren-mancke-96705-unsplash.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  opacity: 0.5; 
  filter: grayscale(70%);
}*/

#section4 {
  /*background-image: url("lauren-mancke-96705-unsplash.jpg");*/
  background-size: cover; 
  background-repeat: no-repeat;
  opacity: 0.9; 
 /* filter: grayscale(70%);*/
}

.form-submit {
    background-color: transparent; 
    color: #000; 
    border: 1px solid #000; 
}

.form-control, .form-group {
  border-top: medium none; 
  border-left: medium none; 
  border-right: medium none; 
  box-shadow:none;
/*opacity: 0.6; */
background-color: transparent;
  
}

input, textarea {
outline: none;
box-shadow:none !important;

}

.form-submit:hover {
   /* border: 4px solid yellow;*/
   font-weight: bolder;
}

body {
    position: relative;
}

/* Contact Form Alert  */
.alert{
    text-align: center; 
    padding: 10px; 
    background: gray; 
    color: white;
    margin-bottom: 10px; 
    display: none; 
} 

.panel-footer {
/*  border-top: 1px solid #000; */
   background-color: #fff; 
   color: #000; 
 
   margin-top: 15px; 
   
}

.copyw {
    font-size: 13px; 
}

.yello {
    color: #000; 
}

.foot1 {
    color: #000; 
    
}

.taylor {
  width: 30px; 
  height: 30px; 
}

caption {
  color: black!important;
  padding: 10px; 
  background-color: #000;  
}
