/* ----------- Galaxy S4, S5 and Note 3 ----------- */

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {

    .jumbotron h1 {
      font-size: 12px; 
    }

  }


@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){
    .vertical {
        display: inline-block;
      /*  border-left: 2px solid yellow;*/
        margin-top: 20px; 
        padding-left: 10px;  
    }

    .first { border-left: none; 
    padding-left: 0; 
}

.aboutp {
    font-size: 13px;

}

.ser-divv {
  padding: 0; 
}

hr {
    border-top: 1px solid #000; 
}

/*.ephoto {
    width:50px; 
    height: 50px;
}*/

.servp {
    font-size: 13px; 
}

}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */



/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .jumbotron {
      background-size: cover; 
    }

    .jumbotron h1 {
      margin-top: 350px; 
    }

    .aboutphoto {
      float: left; 
      width: 200px; 
      height: 200px; 
        margin-right: 10px; 
    }

    .section2-exper {
      font-size: 25px; 
    }

    .centered {
      top: 20%; 
    }

    .vertical.first {
      border-left: 2px solid transparent;

    }

    .vertical {

     border-left: 2px solid #ff0080;
     display: inline-block;
     padding: 5px; 
   }

   .servp {
    height: 90px; 
    overflow-y: scroll;
   }

   .aboutp {
    text-align: left; 
   }

           #section4 {
 background-image: url("lauren-mancke-96705-unsplash.jpg");
 margin-top: 50px; 

 }

 .form-submit {
  color: #fff; 
  border:none;
 }

  }

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

     .jumbotron {
      background-size: cover; 
    }

    .jumbotron h1 {
      margin-top: 350px; 
    }

    .aboutphoto {
      float: left; 
      width: 200px; 
      height: 200px; 
        margin-right: 10px; 
    }

    .section2-exper {
      font-size: 25px; 
      margin-bottom: 20px; 
    }

    .centered {
      top: 20%; 
    }


   .servp {
    height: 90px; 
    overflow: scroll;
   }

   .aboutp {
    text-align: left; 
   }

   .vertical.first {
      border-left: 2px solid transparent;

    }

    .vertical {

     border-left: 2px solid #ff0080;
     display: inline-block;
     padding: 5px; 
   }

           #section4 {
 background-image: url("lauren-mancke-96705-unsplash.jpg");
 margin-top: 50px; 

 }

 .form-submit {
  color: #fff; 
  border:none;
 }


}

/* ----------- iPhone X ----------- */

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

.jumbotron {
      background-size: contain!important; 
    }

    .jumbotron h1 {
      margin-top: 440px!important; 
    }

    .aboutphoto {
      float: left; 
      width: 200px; 
      height: 200px; 
    }

    .section2-exper {
      font-size: 25px; 
    }

    .centered {
      top: 20%; 
    }


   .servp {
    height: 90px; 
    overflow: scroll;
   }

   .aboutp {
    text-align: left; 
    font-size: 15px; 
   }

 .centered {
      top: 30%; 
    }   

  }

  /* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

.jumbotron {
      background-size: cover; 
    }

.jumbotron h1 {
  margin-top: 420px; 
  font-size: 24px; 
}

.section2-about {
  margin-top: 20px; 
}

    .aboutphoto {
      float: left; 
      width: 200px; 
      height: 200px; 
      margin-right: 10px; 
    }
.aboutp {
  text-align: left; 
}

.ab-row {
  margin-right: 50px; 
  margin-left: 50px; 
}

.centered {
      top: 20%; 
    }

     .vertical.first {
      border-left: 2px solid transparent;
    }

    .vertical {
 padding: 5px;  
     border-left: 2px solid #ff0080;
     display: inline-block;
    font-size: 25px; 
   }

   .section2-exper {
    margin-bottom: 20px; 
   }

.servp {
  height: 140px; 
  overflow: scroll;
}

.my-pt {
  margin-top: 50px; 
}

  }

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

.jumbotron {
      background-size: cover; 
    }

    .jumbotron h1 {
      margin-top: 560px; 
      font-size: 25px; 
    }

     .aboutphoto {
      float: left; 
      width: 200px; 
      height: 200px; 
      margin-right: 10px; 
    }

    .ab-row {
      margin-left: 100px; 
      margin-right: 100px; 
    }

     .vertical.first {
      border-left: 2px solid transparent;
    }

    .vertical {

     border-left: 2px solid #ff0080;
     display: inline-block;
    font-size: 20px;
    padding: 5px;  
   }

   .section2-about {
  margin-top: 20px; 
  font-size: 50px; 
}

.aboutp {
  text-align: left; 
}

 .section2-exper {
    margin-bottom: 20px; 
   }

   .servp {
  height: 120px; 
  overflow: scroll;
}

.ephoto-p {
  font-size: 30px; 
}

  }
/************iphone 7 and 8 plus ************************/


/*@media only screen and (min-width: 414px and (max-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait)
{
    
    .triangle {
        width:0; 
        height: 0;
        border-left: 25px solid transparent; 
        border-right: 25px solid transparent; 
        border-top: 50px solid white; 
        margin-left: 184px; 
    }
}*/




/*******************ipad pro*******************************/

@media only screen 
    and (min-width:768px)
    and (max-width:1366px)
    and (-webkit-min-device-pixel-ratio: 2){
        
        .contact-form {
            background-color: lightgray;
            /* opacity: 0.5;  */
        } 
        
        .head-contact {
            margin-top: 155px; 
        }

        .aboutphoto {
           /* border-radius: 50%; 
            float: right;
            width:300px;
            height:300px;
            margin-left: 180px; */
            /* margin-right:15px; */
        }

        .contact-info li a  {
            font-size: .8em; 
        }

        #section4 {
 background-image: url("lauren-mancke-96705-unsplash.jpg");
 margin-top: 50px; 

 }

 .form-submit {
  color: #fff; 
  border:none;
 }

 .foot1 {
  font-size: 20px!important; 
 }


    }

    /* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
 .aboutphoto {
      float: left!important; 
      width: 200px; 
      height: 200px; 
      margin-right: 10px!important; 
    }

    .ephoto-p {
      font-size: 40px; 
    }

    .vertical {
      font-size: 25px; 
    }

    .form-submit {
     background-color: #fff;  
      border: none!important; 
      opacity: .4; 
      margin-bottom: 20px; 
    }

  }

/* ***********Breakpoint From Phone To Desktops ***********************
@media screen and (min-width: 769px){
} */

/*******************iMAC PRO LAPTOP *******************************/

@media screen and (min-width: 1025px){

    /* Nav Bar */
/*.navbar {
    padding: 25px 50px 0 50px;  
    opacity: 0.2; 
    background: white!important; 
    border-bottom: hidden; 
    
}*/

/*.navbar-nav a {
    color: black!important;
    font-weight: bolder;
    font-size: 14px;  
}*/

.logo-main {
  margin-left: 100px; 
}

.navbar-brand  {
    color: black; 
    font-size: 25px;
    font-weight: lighter!important;
}

.navbar.solid {
  background-color: #000!important; 
  opacity: .8!important; 

}

.nav-link.solid1 {
  color: #fff!important; 
}

.navbar-brand.solid2 {
  color: #fff!important; 
}
/*NAV*/

  .jumbotron {
/*     background-image: url("http://i64.tinypic.com/v2wcoh.jpg"); */
        /*background-image: url("http://i66.tinypic.com/2pr9v2f.jpg");*/
            
 
   /* background-image: url("jessy-smith-534048-unsplash.jpg"); */
    background-size: 100%!important; 

    /* -webkit-filter: grayscale(65%);  Safari 6.0 - 9.0 
    filter: grayscale(65%);*/
/*       background-color: #f4511e; */
    height:900px; 
    background-repeat: no-repeat; 
   background-size: cover; 

     /* color: #fff;*/
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }

.jumbotron h1 {
  margin-top: 160px; 
  
  font-size:70px; 
}

.jumbotron h3 {
  color:#000;
  
}

.navbar {
      margin-bottom: 0;
      background-color: transparent;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;/*
      font-family: Montserrat, sans-serif!important;*/
      font-weight: lighter;

/*      background-image: url("http://i64.tinypic.com/v2wcoh.jpg"); */
    /* background-image: url("photo11.jpg");*/
  
/*   background-image: url("http://i68.tinypic.com/1255nwk.jpg"); */
    background-repeat:no-repeat; 
    background-size:cover; 
    -webkit-filter: grayscale(65%); /* Safari 6.0 - 9.0 */
    filter: grayscale(65%);
  }

   .navbar li a{
    font-size: 18px; 
    background-color: transparent;  
  }


.navbar li a, .navbar .navbar-brand {
      color: #000 ;
      font-weight: lighter;
  }
/*  .navbar-nav li a:hover {
      color: #000 !important;
     
  }
*/
.navbar-nav li.active a {
  color: #ff0080!important; 
   background-color: #fff !important;
}

.btn-a {
  margin-top: 390px; 
  /*margin-top: 650px; */
   padding: 15px;
}


/* Section #1 */
#section1 {
    color: black; 
    padding-top: 90px; 
    padding-bottom: 0; 
    background: white; 
    
    /* background-image: none;  */ 
/* background-image:url("http://i66.tinypic.com/2ue5pic.jpg");
    background-size: 100%;
     background-repeat: no-repeat;  */
}

.about-head {
   /*position: relative;
   top: -70%;
   left: 50%;
   transform: translate(-50%, -50%); */

   font-size: 30px;
  margin-top: 110px;  

 
   
  
   
    /* ;
    padding-bottom: 0;
    margin-bottom: 0; 
    margin-top: 0;    */
}

.ab-row{
  margin-left: 100px; 
  margin-right: 100px; 
}


.quote {
    /* font-family: 'Great Vibes', cursive; */
    position: relative;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 20px;
    
}

.image-with-text {
    position: relative; 
    text-align: center; 
    color: white; 
}

.centerphoto {
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.computer {
    padding-top: 0;
    
}

/* .triangle {
    width:0; 
    height: 0;
    border-left: 25px solid transparent; 
    border-right: 25px solid transparent; 
    border-top: 50px solid white; 
    margin-left: 510px; 
} */

.view-portfolio:hover { 
    border: 4px solid yellow; 
}

.view-portfolio {
    margin-top: 30px; 
    background-color:grey;
    padding: 15px 32px;
    font: bold; 
    color: white;    
}

  hr{
border-top: 1px solid black;

}

/* Section #2 */
#section2 {
    padding-top: 5px;  
    padding-bottom: 70px; 
    background:white;
    
}

.section2-about {
    margin: 0;
     letter-spacing: 10px;  
    /*font-family: 'Tangerine', cursive;*/
    font-size: 40px;  
}

.servp {
  height: 100px; 

 overflow-x: hidden;  
  

}

.aboutp {
    text-align: left!important; 
    /* padding:0;
    margin: 0;  */
    margin-right: 85px;
    padding-right: 29px; 

} 

.aboutphoto {
 /*   border-radius: 50%; */
    float: left;
    width:200px;
    height:250px;
    margin-left: 180px; 
     margin-right:10px; 
}

ul { 
    text-align: center; 
    display: block; 
    padding: 0; 
    padding-top: 10px; 
}

.vertical { display: inline-block; 
    border-left: 2px solid #ff0080;
     padding-left: 10px;
     text-align: center; 
     }
.first { border-left: none; 
    padding-left: 0; 
}

.service-sec {
    display: table; 
    margin: 0 auto; 
}

h6 {
    text-align: center; 
}

 .ephoto { 
   width: 100%;
   height: auto;  
 }


.section2-exper {
    margin-top: 25px; 
    margin-bottom: 20px; 
    
    font-size: 25px; 
    background-image: linear-gradient(to bottom,gray 33%, transparent 33%, transparent 66%,gray 66%,gray); 
    background-position: 0 1.03em;
    background-repeat: repeat-x;
    background-size: 2px 4px;  
}

.service-hr {
    margin-top: 40px; 
}

.section2-services {
   font-size: 25px; 
   margin-top: 25px; 
   background-image: linear-gradient(to bottom,gray 33%, transparent 33%, transparent 66%,gray 66%,gray); 
    background-position: 0 1.03em;
    background-repeat: repeat-x;
    background-size: 2px 4px;
}

.portphoto {
    filter: gray; 
    -webkit-filter: grayscale(1);
    -webkit-transition: all .8s ease-in-out;
    margin-bottom: 0;  
  }
  
  .p-photo1 {
    height:300px; 
    width:700px; 
    text-align:center; 
  }
/* 
  .portphoto:hover {
      filter: none; 
      -webkit-filter: grayscale(0); 
      -webkit-transform: scale(1.01); 
  } */

  .middle {
      transition: .5s ease; 
      opacity: 0;
      position: absolute; 
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      -ms-transform: translate(-50%, -50%); 
      text-align: center; 
  }

.kitten-box:hover .portphoto {
    filter: none; 
    -webkit-filter: grayscale(0); 
    -webkit-transform: scale(1.01); 
}

.kitten-box .middle {
    opacity: 0;
    
} 

  .kitten-box:hover .middle {
      opacity: 1;
      
  } 



/* Section #3 */
#section3 {
    padding-top: 30px; 
    padding-bottom: 70px;
    background:white;   
}

.contact-info li a  {
    color: white;
  font-weight: bolder;
    margin-right: 20px; 
}
  .contact-info li a:hover {
/*     background-color: black;  */
    color: yellow; 
/*     padding:10px;  */
   
    font-weight: bolder; 
  }

  .contact-info li i {
    color: yellow; 
  }
.contactInfo {
    color: white;
  font-weight: bolder; 
}

.contact-form {
    background-color: lightgray;
  
    /* opacity: 0.5;  */
}

 .form-submit {
    border: none;
    color: #fff; 
    font-weight: bolder;

}

/*.whiteSpace {
    margin-bottom: 100px; 
}*/

.contact-head {
    font-size: 15px; 
   /* margin-top: 40px; 
   /* padding-bottom: 40px;  */
}

i {
    margin: 20px; 
    margin-right: 10px;
    color: white; 
}



body {
    position: relative; 
    
 }

 /**SECTION 4*/
#section4 {
 background-image: url("lauren-mancke-96705-unsplash.jpg");
 height: auto!important; 
}

/*************Footer**********/

.panel-footer {
    /*background-color: gray; 
    color: white; */
    /*opacity: 0.7;*/
    margin-top: 15px; 
    height:auto; 
 }
 .foot1 {
    
 /*   padding-top: 10px; */
}
  
  .foot1:hover {
    color: #ff0080; 
  }

  .taylor {
  width: 40px; 
  height: 40px; 
  margin-bottom: 5px; 
}


}

/* Contact Form Alert 
.alert{
    text-align: center; 
    padding: 10px; 
    background: salmon; 
    color: white;
    margin-bottom: 10px; 
    display: none; 
 }  */




/*******************DESK TOP *******************************/

@media screen and (min-width: 1281px){

  .btn-a {
    display: none; 
  }
    
  #section1 {
 
    padding-top: 130px; 
   }
  
  
    .view-portfolio {
        margin-top: 25px; 
        background-color:grey;
        padding: 15px 32px;
        font: bold; 
        color: white;    
    }
    
    .section2-about {
        font-size: 60px;
        margin-bottom: 25px; 

    }
    
    .aboutp {
        /* padding:0;
        margin: 0;  */
        margin-right: 65px;
        padding-right: 29px;  
    } 
    
    .aboutphoto {
        float: left;
        width:200px;
        height:250px;
       margin-right: 10px;  
        margin-left: 180px;
        
        /* margin-right:15px; */
    }

    .ab-row {
      margin-left: 400px; 
      margin-right: 400px; 
    }

    .e-photo {
      font-size: 35px; 
    }

    .centered {
      top: 40%; 
    }

    .servp {
  height: auto; 

 overflow-x: hidden; 
 overflow-y: hidden;  
  

}


.jumbotron {

            
 background-image: url("headerpic.jpg");
    }

    .form-submit {

color: #000!important; 
    
}