/************iphone 7 and 8 plus ************************/

@media only screen 
and (min-width: 414px)
and (max-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait){
    
    .triangle {
        width:0; 
        height: 0;
        border-left: 25px solid transparent; 
        border-right: 25px solid transparent; 
        border-top: 50px solid white; 
        margin-left: 184px; 
    }
}

/*******************ipad pro*******************************/

@media only screen 
    and (min-width:768px)
    and (max-width:1366px)
    and (-webkit-min-device-pixel-ratio: 2){
        
        .contact-form {
            background-color: lightgray;
            /* opacity: 0.5;  */
        } 
        
        .head-contact {
            margin-top: 155px; 
        }

        .aboutphoto {
            border-radius: 50%; 
            float: right;
            width:300px;
            height:300px;
            margin-left: 180px; 
            /* margin-right:15px; */
        }

        .contact-info li a  {
            font-size: .8em; 
        }

    }

/* ***********Breakpoint From Phone To Desktops ***********************

@media screen and (min-width: 769px){


} */

/*******************iMAC PRO LAPTOP *******************************/

@media screen and (min-width: 1025px){

    /* Nav Bar */
.navbar {
    padding: 25px 50px 0 50px;  

    opacity: 0.2; 
    background: white!important; 
    border-bottom: hidden; 
    
}

.navbar-nav a {
    color: black!important; 
}


.navbar-brand  {
    color: black!important; 
    font-size: 25px;
}



/* Section #1 */
#section1 {
    color: black; 
    padding-top: 130px; 
    padding-bottom: 0; 
    background: white; 
    
    /* background-image: none;  */ 
/* background-image:url("http://i66.tinypic.com/2ue5pic.jpg");
    background-size: 100%;
     background-repeat: no-repeat;  */
}

.about-head {
   position: relative;
   top: -70%;
   left: 50%;
   transform: translate(-50%, -50%); 
   font-size: 28px;
 
   
  
   
    /* ;
    padding-bottom: 0;
    margin-bottom: 0; 
    margin-top: 0;    */
}

.about1 {
    color: yellow; 
}

.quote {
    /* font-family: 'Great Vibes', cursive; */
    position: relative;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 20px;
    
}

.image-with-text {
    position: relative; 
    text-align: center; 
    color: white; 
}

.centerphoto {
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.computer {
    padding-top: 0;
    
}

/* .triangle {
    width:0; 
    height: 0;
    border-left: 25px solid transparent; 
    border-right: 25px solid transparent; 
    border-top: 50px solid white; 
    margin-left: 510px; 
} */

.view-portfolio:hover { 
    border: 4px solid yellow; 
}

.view-portfolio {
    margin-top: 30px; 
    background-color:grey;
    padding: 15px 32px;
    font: bold; 
    color: white;    
}

	hr{
border-top: 1px solid black;

}

/* Section #2 */
#section2 {
    padding-top: 5px;  
    padding-bottom: 70px; 
    background:white;
    
}

.section2-about {
    margin: 0;
    font-family: 'Tangerine', cursive;
    font-size: 50px;  
}

.aboutp {
    /* padding:0;
    margin: 0;  */
    margin-right: 85px;
    padding-right: 29px; 

} 

.aboutphoto {
    border-radius: 50%; 
    float: right;
    width:300px;
    height:300px;
    margin-left: 180px; 
    /* margin-right:15px; */
}

ul { 
    text-align: center; 
    display: block; 
    padding: 0; 
    padding-top: 10px; 
}

.vertical { display: inline-block; 
    border-left: 2px solid yellow;
     padding-left: 10px;
     text-align: center; 
     }
.first { border-left: none; 
    padding-left: 0; 
}

.service-sec {
    display: table; 
    margin: 0 auto; 
}

h6 {
    text-align: center; 
}

/* .ephoto {
    margin-right: 55px; 
} */


.section2-exper {
    margin-top: 25px; 
    margin-bottom: 20px; 
    font-family: 'Tangerine', cursive;
    font-size: 40px; 
    background-image: linear-gradient(to bottom,gray 33%, transparent 33%, transparent 66%,gray 66%,gray); 
    background-position: 0 1.03em;
    background-repeat: repeat-x;
    background-size: 2px 4px;  
}

.service-hr {
    margin-top: 40px; 
}

.section2-services {
   font-size: 40px; 
   margin-top: 25px; 
   background-image: linear-gradient(to bottom,gray 33%, transparent 33%, transparent 66%,gray 66%,gray); 
    background-position: 0 1.03em;
    background-repeat: repeat-x;
    background-size: 2px 4px;
}

.portphoto {
    filter: gray; 
    -webkit-filter: grayscale(1);
    -webkit-transition: all .8s ease-in-out;
    margin-bottom: 0;  
  }
/* 
  .portphoto:hover {
      filter: none; 
      -webkit-filter: grayscale(0); 
      -webkit-transform: scale(1.01); 
  } */

  .middle {
      transition: .5s ease; 
      opacity: 0;
      position: absolute; 
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      -ms-transform: translate(-50%, -50%); 
      text-align: center; 
  }

.kitten-box:hover .portphoto {
    filter: none; 
    -webkit-filter: grayscale(0); 
    -webkit-transform: scale(1.01); 
}

.kitten-box .middle {
    opacity: 0;
    
} 

  .kitten-box:hover .middle {
      opacity: 1;
      
  } 



/* Section #3 */
#section3 {
    padding-top: 30px; 
    padding-bottom: 70px;
    background:white;   
}

.contact-info li a  {
    color: black;
    margin-right: 20px; 
}
  .contact-info li a:hover {
/*     background-color: black;  */
    color: yellow; 
/*     padding:10px;  */
   
    font-weight: bolder; 
  }

  .contact-info li i {
    color: yellow; 
  }
.contactInfo {
    color: black; 
}

.contact-form {
    background-color: lightgray;
  
    /* opacity: 0.5;  */
}

.whiteSpace {
    margin-bottom: 100px; 
}

.contact-head {
    font-size: 15px; 
   /* margin-top: 40px; 
   /* padding-bottom: 40px;  */
}

i {
    margin: 20px; 
    margin-right: 10px;
    color: white; 
}



body {
    position: relative; 
    
 }

/*************Footer**********/

.panel-footer {
    background-color: gray; 
    color: white; 
    opacity: 0.7;
    margin-top: 15px; 
    height:300px; 
 }
 .foot1 {
    color: white; 
    padding-top: 60px; 
}
  
  .foot1:hover {
    color: yellow; 
  }


}

/* Contact Form Alert 
.alert{
    text-align: center; 
    padding: 10px; 
    background: salmon; 
    color: white;
    margin-bottom: 10px; 
    display: none; 
 }  */




/*******************DESK TOP *******************************/

@media screen and (min-width: 1281px){
    
    .view-portfolio {
        margin-top: 25px; 
        background-color:grey;
        padding: 15px 32px;
        font: bold; 
        color: white;    
    }
    
    .section2-about {
        font-size: 60px;  
    }
    
    .aboutp {
        /* padding:0;
        margin: 0;  */
        margin-right: 65px;
        padding-right: 29px;  
    } 
    
    .aboutphoto {
        float: right;
        width:300px;
        height:300px;
        margin-right: 0;  
        margin-left: 180px;
        
        /* margin-right:15px; */
    }

    
    
}