/* ----------- Galaxy S4, S5 and Note 3 ----------- */

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {

    .jumbotron h1 {
      font-size: 12px; 
    }

  }


@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){
    .vertical {
        display: inline-block;
      /*  border-left: 2px solid yellow;*/
        margin-top: 20px; 
        padding-left: 10px;  
    }

    .first { border-left: none; 
    padding-left: 0; 
}

.aboutp {
    font-size: 13px;

}

.ser-divv {
  padding: 0; 
}

hr {
    border-top: 1px solid #000; 
}

/*.ephoto {
    width:50px; 
    height: 50px;
}*/

.servp {
    font-size: 13px; 
}

}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */



/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 



    .sm-div {
      max-width: 100%;
      flex: initial; 
    }

    .services-div {
      border-top: none!important;
      border-bottom: none!important;
      margin-bottom: 0!important; 
    }

    .servi-div {
    border-left: none!important;
   
}

 .arrow {
    margin: 8em auto;
}

    .jumbotron {
      background-size: cover!important; 
    }

    .jumbotron h1 {
      margin-top: 350px; 
    }

    .aboutphoto {
      float: left; 
      width: 200px; 
      height: 200px; 
        margin-right: 10px; 
    }

    .section2-exper {
      font-size: 25px; 
    }


    .centered {
      top: 20%; 
    }

    .vertical.first {
      border-left: 2px solid transparent;

    }

    .vertical {

     border-left: 2px solid #ff0080;
     display: inline-block;
     padding: 5px; 
   }

   .servp {
    height: 90px; 
    overflow-y: scroll;
   }

   .aboutp {
    text-align: left; 
   }

           #section4 {
 background-image: url("lauren-mancke-96705-unsplash.jpg");
 margin-top: 50px; 

 }

 .form-submit {
  color: #fff; 
  border:none;
 }



  }

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
.sm-div {
      max-width: 100%;
      flex: initial; 
    }

    .services-div {
      border-top: none!important;
      border-bottom: none!important;
      margin-bottom: 0!important; 
    }

    .servi-div {
    border-left: none!important;
   
}

 .arrow {
    margin: 8em auto;
}

     .jumbotron {
      background-size: cover; 
    }

    .jumbotron h1 {
      margin-top: 350px; 
    }

    .aboutphoto {
      float: left; 
      width: 200px; 
      height: 200px; 
        margin-right: 10px; 
    }

    .section2-exper {
      font-size: 25px; 
      margin-bottom: 20px; 
    }

    .centered {
      top: 20%; 
    }


   .servp {
    height: 90px; 
    overflow: scroll;
   }

   .aboutp {
    text-align: left; 
   }

   .vertical.first {
      border-left: 2px solid transparent;

    }

    .vertical {

     border-left: 2px solid #ff0080;
     display: inline-block;
     padding: 5px; 
   }

           #section4 {
 background-image: url("lauren-mancke-96705-unsplash.jpg");
 margin-top: 50px; 

 }

 .form-submit {
  color: #fff; 
  border:none;
 }


}

/* ----------- iPhone X ----------- */

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

    .sm-div {
      max-width: 100%;
      flex: initial; 
    }

    .services-div {
      border-top: none!important;
      border-bottom: none!important;
      margin-bottom: 0!important; 
    }

    .servi-div {
    border-left: none!important;
   
}

 .arrow {
    margin: 8em auto;
}

.aboutp {
    color: #000!important;
  margin-right: initial!important;
    padding-right: initial!important; 
}

.jumbotron {
      background-size: cover; 
    }

    .jumbotron h1 {
      margin-top: 440px!important; 
    }

    .aboutphoto {
      float: left; 
      width: 200px; 
      height: 200px; 
    }

    .section2-exper {
      font-size: 25px; 
    }

    .centered {
      top: 20%; 
    }


   .servp {
    height: 90px; 
    overflow: scroll;
   }

   .aboutp {
    text-align: left; 
    font-size: 15px; 
   }

 .centered {
      top: 30%; 
    }   

  }

  /* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

     .sm-div {
      max-width: 100%;
      flex: initial; 
    }

    .services-div {
      border-top: none!important;
      border-bottom: none!important;
      margin-bottom: 0!important; 
    }

    .servi-div {
    border-left: none!important;
   
}

.servi-row{
    margin-left: 40px;
    margin-right: 40px;
}

.ser-divv h1 {
    font-size: 33px;
}

    .fullscreen-video-wrap {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.jumbotron {
      background-size: cover; 
    }

.jumbotron h1 {
  margin-top: 420px; 
  font-size: 24px; 
}

.section2-about {
  margin-top: 20px; 
}

    .aboutphoto {
      float: left; 
      width: 200px; 
      height: 200px; 
      margin-right: 10px; 
    }
.aboutp {
  text-align: left; 
}

.ab-row {
  margin-right: 50px; 
  margin-left: 50px; 
}

.centered {
      top: 20%; 
    }

     .vertical.first {
      border-left: 2px solid transparent;
    }

    .vertical {
 padding: 5px;  
     border-left: 2px solid #ff0080;
     display: inline-block;
    font-size: 25px; 
   }

   .section2-exper {
    margin-bottom: 20px; 
   }

.servp {
  height: 140px; 
  overflow: scroll;
}

.my-pt {
  margin-top: 50px; 
}

  }

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {


    .sm-div {
      max-width: 100%;
      flex: initial; 
    }

    .services-div {
      border-top: none!important;
      border-bottom: none!important;
      margin-bottom: 0!important; 
    }

    .servi-div {
    border-left: none!important;
   
}


    .fullscreen-video-wrap {
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.aboutp {
    color: #000!important;
    margin-right: 0!important;
    padding-right: 0!important;
}

#section-process h2 {
    text-shadow:none!important;
  
}

.portphoto {
    height: 368px;
}

.jumbotron {
      background-size: cover; 
    }

    .jumbotron h1 {
      margin-top: 560px; 
      font-size: 25px; 
    }

     .aboutphoto {
      float: left; 
      width: 200px; 
      height: 200px; 
      margin-right: 10px; 
    }

    .ab-row {
      margin-left: 100px; 
      margin-right: 100px; 
    }

     .vertical.first {
      border-left: 2px solid transparent;
    }

    .vertical {

     border-left: 2px solid #ff0080;
     display: inline-block;
    font-size: 20px;
    padding: 5px;  
   }

   .section2-about {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 45px;
}

.aboutp {
  text-align: left; 
}

 .section2-exper {
    margin-bottom: 20px; 
   }

   .servp {
  height: 120px; 
  overflow: scroll;
}

.ephoto-p {
  font-size: 30px; 
}

  }
/************iphone 7 and 8 plus ************************/


/*@media only screen and (min-width: 414px and (max-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait)
{
    
    .triangle {
        width:0; 
        height: 0;
        border-left: 25px solid transparent; 
        border-right: 25px solid transparent; 
        border-top: 50px solid white; 
        margin-left: 184px; 
    }
}*/




/*******************ipad pro*******************************/

@media only screen 
    and (min-width:768px)
    and (max-width:1366px)
    and (-webkit-min-device-pixel-ratio: 2){

      .fullscreen-video-wrap {
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.aboutp {
    color: #000!important;
    margin-right: 0!important;
    padding-right: 0!important;
}

#section-process h2 {
    text-shadow:none!important; 
  }

  .portphoto {
    height: 368px;
}
        
        .contact-form {
            background-color: lightgray;
            /* opacity: 0.5;  */
        } 
        
        .head-contact {
            margin-top: 155px; 
        }

        .jumbotron {
          height: 600px; 
        }

        .jumbotron h1 {
          font-size: 54px;
          margin-top: 300px;  
        }

        .ephoto-p {
          font-size: 19px; 
        }

        .section2-exper {
          font-size: 20px; 
        }

        .section2-services {
          font-size: 20px; 
        }

        .vertical {
          font-size: 15px; 
        }

        .aboutphoto {
           /* border-radius: 50%; 
            float: right;
            width:300px;
            height:300px;
            margin-left: 180px; */
            /* margin-right:15px; */
        }

        .contact-info li a  {
            font-size: .8em; 
        }

        #section4 {
 background-image: url("lauren-mancke-96705-unsplash.jpg");
 margin-top: 50px; 

 }

 .form-submit {
  color: #fff; 
  border:none;
 }

 .foot1 {
  font-size: 20px!important; 
 }


    }

    /* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {


.services-div {
    height: 314px;
  }

  .servi-row h3 {
    font-size: 25px;
}

.ser-divv h1 {
    font-size: 43px!important;
}

.row.servi-p.p-height1 {
    height: 529px; 
  }

  #section4 {
    height: 480px!important;
}

.section2-about {
    font-size: 50px!important;
}

 .aboutphoto {
      float: left!important; 
      width: 200px; 
      height: 200px; 
      margin-right: 10px!important; 
    }

    .ab-row {
      margin-left: 150px!important; 
      margin-right: 150px!important; 
    }

    .arrow {
      margin: 20em auto!important; 
    }

    .ephoto-p {
      font-size: 26px; 
    }

    .vertical {
      font-size: 25px; 
    }

    .form-submit {
     background-color: #fff;  
      border: none!important; 
      opacity: .4; 
      margin-bottom: 20px; 
    }

/*.ab-row {
  margin-left: 0!important; 
  margin-right: 0!important; 
}*/

  }

/* ***********Breakpoint From Phone To Desktops ***********************/

  @media screen and (max-width: 768px){


    .sm-div {
      max-width: 100%;
      flex: initial; 
    }

    .services-div {
      border-top: none!important;
      border-bottom: none!important;
      margin-bottom: 0!important; 
    }

    .servi-div {
    border-left: none!important;
   
}


  
}

@media screen and (min-width: 769px) {

      .about-head-sub {
    letter-spacing: 5px; 
}


  .header-content h1 {

    letter-spacing: 10px;


}


  .arrow {
    position: absolute;
    left: 46%;
    transform: translate(-50%, -50%);
    margin: 14em auto;
}

.panel-footer p {
    margin-top: 8px;
}

  .jumbotron {
    background-size: cover;
     
  }

  .aboutphoto {
    float: left; 
  }

   #section4 {
 background-image: url("lauren-mancke-96705-unsplash.jpg");

}

.fullscreen-video-wrap {
   
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.services-div {
    /* background-color: #000; */
    padding: 8px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    height: 299px; 
    /* color: #fff; */
    margin-bottom: 80px;
    /* opacity: .5; */
}

.p-height {
    height: 446px;
}

#section-process {
    height: 548px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-top: 90px;
    /* margin-top: 239px; */
    margin-bottom: 20px;
    opacity: .75;
    background-image: url(design.jpg);
    background-attachment: fixed;
}

.servi-row h3 {
    font-size: 18px;
}

.packages {
    font-size: 33px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 30px;
} 
.servi h1 {
    font-size: 25px;
}

.servi-div {
    border-left: 1px solid #000;
    margin-bottom: 50px;
    /* opacity: .8; */
}

#section-process h2 {
    font-size: 43px;
    letter-spacing: 5px;
    text-shadow: 0 0 10px #333;
    margin-top: 50px;
    margin-bottom: 50px;
}

    .taylor {
  width: 40px; 
  height: 40px; 
  margin-top: initial;
  margin-bottom: 5px; 
}

.navbar-brand  {
    color: #000!important; 
    font-size: 12px;
    margin-top: initial;
    font-weight: lighter!important;
}

.aboutp {
    text-align: left!important; 
    color: #000; 
    /* padding:0;
    margin: 0;  */
 /*   margin-right: 85px;*/
    padding-right: 29px; 

} 

.process-div {
    height: 384px;
}

}

/*******************iMAC PRO LAPTOP *******************************/

@media screen and (min-width: 1025px){

  /**********new code**************/

  .navbar-brand  {
    color: #fff!important; 
    font-size: 13px;
    margin-top: initial;
    font-weight: lighter!important;
}

  .row.servi-p.p-height1 {
    height: 492px;
}

.fa {
    font-size: 38px!important;
    color: #000;
}

.panel-footer img {
    height: 25px;
}

.servi-row {
    margin-left: 100px;
    margin-right: 100px;
}

.ser-divv h1 {
    text-transform: uppercase;
    font-size: 39px;
    letter-spacing: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.services-div {
    height: 340px;
   
}

.servi-row h3 {
    font-size: 17px;
}

  .bio-row {
    background: linear-gradient(to bottom, #fff, #333);
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}

span.hi {
    font-size: 25px;
}

.header-content h1 {
  top: 8%;
    width: 80%;
    font-size: 46px; 
}

.p-height {
  height: 400px; 
}

#section-process {
  height: 494px; 
  background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
 margin-top: 90px;  
   /* margin-top: 239px;*/
 margin-bottom: 20px; 
 opacity: .75; 
  background-image: url("design.jpg");
  background-attachment: fixed;
}


.process-div {
    background-color: #fff;
    margin-left: 30px;
    margin-right: 30px;
    opacity: .8;
    height: 304px; 
  }

/*  .monial-row {
    margin-left: 250px;
    margin-right: 250px;
}
*/

/*******************/

    /* Nav Bar */
/*.navbar {
    padding: 25px 50px 0 50px;  
    opacity: 0.2; 
    background: white!important; 
    border-bottom: hidden; 
    
}*/

/*.navbar-nav a {
    color: black!important;
    font-weight: bolder;
    font-size: 14px;  
}*/

/************SCROLL DOWN ARROW******************/

@-webkit-keyframes downarrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}

/*.container {
  background-image: url('http://www.placekitten.com/g/1000/1000');
  top:0;
  bottom:0;
  left:0;
  right:0;
  position:absolute;
}*/
.arrow {
  border-color:transparent;
  border-style:solid;
  border-width:0 2em;
  display:block;
  height:0;
  left: 49%;
  margin:16em auto;
  opacity:0.4;
  text-indent:-9999px;
  transform-origin: 50% 50%;
  width:0;
}
.up {
  -webkit-animation: uparrow 0.6s infinite alternate ease-in-out;
  border-bottom:2em solid #ff0080;
}
.down {
  -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
  border-top:2em solid #ff0080;
}



/***************************/

/*.logo-main {
  margin-left: 100px; 
}*/

.navbar-brand  {
    color: black; 
   /* font-size: 25px;*/
    margin-top: initial;
    font-weight: lighter!important;
}

.navbar.solid {
  background-color: #fff!important; 
}

.nav-link.solid1 {
  color: #000!important; 
}

.navbar-brand.solid2 {
  color: #000!important; 
}
/*NAV*/

  .jumbotron {
/*     background-image: url("http://i64.tinypic.com/v2wcoh.jpg"); */
        /*background-image: url("http://i66.tinypic.com/2pr9v2f.jpg");*/
            
 
   /* background-image: url("jessy-smith-534048-unsplash.jpg"); */
    background-size: 100%!important; 

    /* -webkit-filter: grayscale(65%);  Safari 6.0 - 9.0 
    filter: grayscale(65%);*/
/*       background-color: #f4511e; */
    height:900px; 
    background-repeat: no-repeat; 
   background-size: cover; 
   margin-top: 0; 

     /* color: #fff;*/
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }

.jumbotron h1 {
  margin-top: 160px; 
  
  font-size:70px; 
}

.jumbotron h3 {
  color:#000;
  
}

.navbar {
      margin-bottom: 0;
      background-color: transparent;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;/*
      font-family: Montserrat, sans-serif!important;*/
      font-weight: lighter;

/*      background-image: url("http://i64.tinypic.com/v2wcoh.jpg"); */
    /* background-image: url("photo11.jpg");*/
  
/*   background-image: url("http://i68.tinypic.com/1255nwk.jpg"); */
    background-repeat:no-repeat; 
    background-size:cover; 
    -webkit-filter: grayscale(65%); /* Safari 6.0 - 9.0 */
    filter: grayscale(65%);
  }

   .navbar li a{
    font-size: 18px; 
    background-color: transparent;
    color: #fff!important;   
  }


.navbar li a, .navbar .navbar-brand {
      color: #000 ;
      font-weight: lighter;
  }
/*  .navbar-nav li a:hover {
      color: #000 !important;
     
  }
*/
.navbar-nav li.active a {
  color: #ff0080!important; 
   background-color: #fff !important;
}

.btn-a {
  display: none; 
  margin-top: 0; 
  /*margin-top: 650px; */
   padding: 15px;
}


/* Section #1 */
#section1 {
    color: black; 
    padding-top: 90px; 
    padding-bottom: 0; 
    background: white; 
    
    /* background-image: none;  */ 
/* background-image:url("http://i66.tinypic.com/2ue5pic.jpg");
    background-size: 100%;
     background-repeat: no-repeat;  */
}

.about-head {
   /*position: relative;
   top: -70%;
   left: 50%;
   transform: translate(-50%, -50%); */

   font-size: 30px;
  margin-top: 110px;  

 
   
  
   
    /* ;
    padding-bottom: 0;
    margin-bottom: 0; 
    margin-top: 0;    */
}

.ab-row{
  margin-left: initial; 
  margin-right: initial; 
}


.quote {
    /* font-family: 'Great Vibes', cursive; */
    position: relative;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 20px;
    
}

.image-with-text {
    position: relative; 
    text-align: center; 
    color: white; 
}

.centerphoto {
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.computer {
    padding-top: 0;
    
}

/* .triangle {
    width:0; 
    height: 0;
    border-left: 25px solid transparent; 
    border-right: 25px solid transparent; 
    border-top: 50px solid white; 
    margin-left: 510px; 
} */

.view-portfolio:hover { 
    border: 4px solid yellow; 
}

.view-portfolio {
    margin-top: 30px; 
    background-color:grey;
    padding: 15px 32px;
    font: bold; 
    color: white;    
}

  hr{
border-top: 1px solid black;

}

/* Section #2 */
#section2 {
    padding-top: 5px;  
    padding-bottom: 70px; 
    background:white;
    
}

.section2-about {
    margin: 0;
     letter-spacing: 4px;  
    /*font-family: 'Tangerine', cursive;*/
    font-size: 37px;  
}

.servp {
  height: 100px; 

 overflow-x: hidden;  
  

}

.aboutp {
    text-align: left!important; 
    color: #fff!important; 
    /* padding:0;
    margin: 0;  */
    margin-right: 85px;
    padding-right: 29px; 

} 

.aboutphoto {
 /*   border-radius: 50%; */
    float: left;
    width:200px;
    height:250px;
    margin-left: initial; 
     margin-right:10px; 
}

ul { 
    text-align: center; 
    display: block; 
    padding: 0; 
    padding-top: 10px; 
}

.vertical { display: inline-block; 
    border-left: 2px solid #ff0080;
     padding-left: 10px;
     text-align: center; 
     }
.first { border-left: none; 
    padding-left: 0; 
}

.service-sec {
    display: table; 
    margin: 0 auto; 
}

h6 {
    text-align: center; 
}

 .ephoto { 
   width: 100%;
   height: auto;  
 }


.section2-exper {
    margin-top: 25px; 
    margin-bottom: 20px; 
    
    font-size: 25px; 
    background-image: linear-gradient(to bottom,gray 33%, transparent 33%, transparent 66%,gray 66%,gray); 
    background-position: 0 1.03em;
    background-repeat: repeat-x;
    background-size: 2px 4px;  
}

.service-hr {
    margin-top: 40px; 
}

.section2-services {
   font-size: 25px; 
   margin-top: 25px; 
   background-image: linear-gradient(to bottom,gray 33%, transparent 33%, transparent 66%,gray 66%,gray); 
    background-position: 0 1.03em;
    background-repeat: repeat-x;
    background-size: 2px 4px;
}

.portphoto {
    filter: gray; 
    -webkit-filter: grayscale(1);
    -webkit-transition: all .8s ease-in-out;
    margin-bottom: 0;  
  }
  
  .p-photo1 {
    height:300px; 
    width:700px; 
    text-align:center; 
  }
/* 
  .portphoto:hover {
      filter: none; 
      -webkit-filter: grayscale(0); 
      -webkit-transform: scale(1.01); 
  } */

  .middle {
      transition: .5s ease; 
      opacity: 0;
      position: absolute; 
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      -ms-transform: translate(-50%, -50%); 
      text-align: center; 
  }

.kitten-box:hover .portphoto {
    filter: none; 
    -webkit-filter: grayscale(0); 
    -webkit-transform: scale(1.01); 
}

.kitten-box .middle {
    opacity: 0;
    
} 

  .kitten-box:hover .middle {
      opacity: 1;
      
  } 

  /********MONIALS**************/

  #section5 {
  height: auto;
  margin-bottom: 50px;  

}

.monial-span {


  padding-bottom: 0; 
}

.carousel-inner p {
  margin-top: initial;
  font-size: initial;
}


/* Section #3 */
#section3 {
    padding-top: 30px; 
    padding-bottom: 70px;
    background:white;   
}

.contact-info li a  {
    color: white;
  font-weight: bolder;
    margin-right: 20px; 
}
  .contact-info li a:hover {
/*     background-color: black;  */
    color: yellow; 
/*     padding:10px;  */
   
    font-weight: bolder; 
  }

  .contact-info li i {
    color: yellow; 
  }
.contactInfo {
    color: white;
  font-weight: bolder; 
}

.contact-form {
    background-color: lightgray;
  
    /* opacity: 0.5;  */
}

 .form-submit {
    border: none;
    color: #fff; 
    font-weight: bolder;

}

/*.whiteSpace {
    margin-bottom: 100px; 
}*/

.contact-head {
    font-size: 15px; 
   /* margin-top: 40px; 
   /* padding-bottom: 40px;  */
}

i {
    margin: 20px; 
    margin-right: 10px;
    color: white; 
}



body {
    position: relative; 
    
 }

 /**SECTION 4*/
#section4 {
 background-image: url("lauren-mancke-96705-unsplash.jpg");
 height: auto; 
}

/*************Footer**********/

.panel-footer {
    /*background-color: gray; 
    color: white; */
    /*opacity: 0.7;*/
    margin-top: 15px; 
    height:auto; 
 }
 .foot1 {
    
 /*   padding-top: 10px; */
}
  
  .foot1:hover {
    color: #ff0080; 
  }

  .taylor {
  width: 40px; 
  height: 40px; 
  margin-top: initial;
  margin-bottom: 5px; 
}


}

/* Contact Form Alert 
.alert{
    text-align: center; 
    padding: 10px; 
    background: salmon; 
    color: white;
    margin-bottom: 10px; 
    display: none; 
 }  */




/*******************DESK TOP *******************************/

@media screen and (min-width: 1281px){

  .monial-row {
    margin-left: 100px;
    margin-right: 100px;
}

  .process-div {
    height: 255px;
}

  .services-div {
    height: 264px;
}

  .btn-a {
    display: none; 
  }
    
  #section1 {
 
    padding-top: 130px; 
   }
  
  
    .view-portfolio {
        margin-top: 25px; 
        background-color:grey;
        padding: 15px 32px;
        font: bold; 
        color: white;    
    }
    
    .section2-about {
        font-size: 47px;
        margin-bottom: 25px; 
        margin-top: 35px; 

    }
    
    .aboutp {
        /* padding:0;
        margin: 0;  */
        margin-right: 65px;
        padding-right: 29px;  
    } 
    
    .aboutphoto {
        float: left;
        width:200px;
        height:250px;
       margin-right: 10px;  
     /*   margin-left: 180px;*/
        
        /* margin-right:15px; */
    }

    .ab-row {
      margin-left: 196px!important; 
      margin-right: 196px!important; 
    }

    .e-photo {
      font-size: 35px; 
    }

    .centered {
      top: 40%; 
    }

    .servp {
  height: auto; 

 overflow-x: hidden; 
 overflow-y: hidden;  
  

}


.jumbotron {

         height: 1000px;    
 background-image: url("new.jpg");
    }

    .jumbotron h1 {
      margin-top: 270px; 
    }

    .arrow {
       margin:19em auto;
    }

    .form-submit {

color: #000!important; 
    
}
}

/*************************Large Desk Top Break Point **************************************/

@media screen and (min-width: 1920px) {

  /**********new code**************/

  .navbar-brand  {
    color: #fff!important; 
    font-size: 12px;
    margin-top: initial;
    font-weight: lighter!important;
}

  .row.servi-p.p-height1 {
    height: 492px;
}

.fa {
    font-size: 38px!important;
    color: #000;
}

.panel-footer img {
    height: 25px;
}

.servi-row {
    margin-left: 140px;
    margin-right: 140px;
}

.ser-divv h1 {
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

  .bio-row {
    background: linear-gradient(to bottom, #fff, #333);
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}

span.hi {
    font-size: 25px;
}

.header-content h1 {
  top: 10%;
    width: 80%;
    font-size: 46px; 
}

.p-height {
  height: 400px; 
}

#section-process {
  height: 467px; 
  background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
 margin-top: 90px;  
   /* margin-top: 239px;*/
 margin-bottom: 20px; 
 opacity: .75; 
  background-image: url("design.jpg");
  background-attachment: fixed;
}


.process-div {
    background-color: #fff;
    margin-left: 30px;
    margin-right: 30px;
    opacity: .8;
  }

  .monial-row {
    margin-left: 250px;
    margin-right: 250px;
}


/*******************/

    /* Nav Bar */
/*.navbar {
    padding: 25px 50px 0 50px;  
    opacity: 0.2; 
    background: white!important; 
    border-bottom: hidden; 
    
}*/

/*.navbar-nav a {
    color: black!important;
    font-weight: bolder;
    font-size: 14px;  
}*/

/************SCROLL DOWN ARROW******************/

@-webkit-keyframes downarrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}

/*.container {
  background-image: url('http://www.placekitten.com/g/1000/1000');
  top:0;
  bottom:0;
  left:0;
  right:0;
  position:absolute;
}*/
.arrow {
  border-color:transparent;
  border-style:solid;
  border-width:0 2em;
  display:block;
  height:0;
  left: 49%;
  margin:23em auto;
  opacity:0.4;
  text-indent:-9999px;
  transform-origin: 50% 50%;
  width:0;
}
.up {
  -webkit-animation: uparrow 0.6s infinite alternate ease-in-out;
  border-bottom:2em solid #ff0080;
}
.down {
  -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
  border-top:2em solid #ff0080;
}



/***************************/

.logo-main {
  margin-left: 100px; 
}

.navbar-brand  {
    color: black; 
    font-size: 25px;
    margin-top: initial;
    font-weight: lighter!important;
}

.navbar.solid {
  background-color: #fff!important; 
}

.nav-link.solid1 {
  color: #000!important; 
}

.navbar-brand.solid2 {
  color: #000!important; 
}
/*NAV*/

  .jumbotron {
/*     background-image: url("http://i64.tinypic.com/v2wcoh.jpg"); */
        /*background-image: url("http://i66.tinypic.com/2pr9v2f.jpg");*/
            
 
   /* background-image: url("jessy-smith-534048-unsplash.jpg"); */
    background-size: 100%!important; 

    /* -webkit-filter: grayscale(65%);  Safari 6.0 - 9.0 
    filter: grayscale(65%);*/
/*       background-color: #f4511e; */
    height:900px; 
    background-repeat: no-repeat; 
   background-size: cover; 
   margin-top: 0; 

     /* color: #fff;*/
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }

.jumbotron h1 {
  margin-top: 160px; 
  
  font-size:70px; 
}

.jumbotron h3 {
  color:#000;
  
}

.navbar {
      margin-bottom: 0;
      background-color: transparent;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;/*
      font-family: Montserrat, sans-serif!important;*/
      font-weight: lighter;

/*      background-image: url("http://i64.tinypic.com/v2wcoh.jpg"); */
    /* background-image: url("photo11.jpg");*/
  
/*   background-image: url("http://i68.tinypic.com/1255nwk.jpg"); */
    background-repeat:no-repeat; 
    background-size:cover; 
    -webkit-filter: grayscale(65%); /* Safari 6.0 - 9.0 */
    filter: grayscale(65%);
  }

   .navbar li a{
    font-size: 18px; 
    background-color: transparent;
    color: #fff!important;   
  }


.navbar li a, .navbar .navbar-brand {
      color: #000 ;
      font-weight: lighter;
  }
/*  .navbar-nav li a:hover {
      color: #000 !important;
     
  }
*/
.navbar-nav li.active a {
  color: #ff0080!important; 
   background-color: #fff !important;
}

.btn-a {
  display: none; 
  margin-top: 0; 
  /*margin-top: 650px; */
   padding: 15px;
}


/* Section #1 */
#section1 {
    color: black; 
    padding-top: 90px; 
    padding-bottom: 0; 
    background: white; 
    
    /* background-image: none;  */ 
/* background-image:url("http://i66.tinypic.com/2ue5pic.jpg");
    background-size: 100%;
     background-repeat: no-repeat;  */
}

.about-head {
   /*position: relative;
   top: -70%;
   left: 50%;
   transform: translate(-50%, -50%); */

   font-size: 30px;
  margin-top: 110px;  

 
   
  
   
    /* ;
    padding-bottom: 0;
    margin-bottom: 0; 
    margin-top: 0;    */
}

.ab-row{
  margin-left: 400px!important; 
  margin-right: 400px!important; 
}


.quote {
    /* font-family: 'Great Vibes', cursive; */
    position: relative;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 20px;
    
}

.image-with-text {
    position: relative; 
    text-align: center; 
    color: white; 
}

.centerphoto {
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.computer {
    padding-top: 0;
    
}

/* .triangle {
    width:0; 
    height: 0;
    border-left: 25px solid transparent; 
    border-right: 25px solid transparent; 
    border-top: 50px solid white; 
    margin-left: 510px; 
} */

.view-portfolio:hover { 
    border: 4px solid yellow; 
}

.view-portfolio {
    margin-top: 30px; 
    background-color:grey;
    padding: 15px 32px;
    font: bold; 
    color: white;    
}

  hr{
border-top: 1px solid black;

}

/* Section #2 */
#section2 {
    padding-top: 5px;  
    padding-bottom: 70px; 
    background:white;
    
}

.section2-about {
    margin: 17px; 
     letter-spacing: 10px;  
    /*font-family: 'Tangerine', cursive;*/
    font-size: 40px;  
}

.servp {
  height: 100px; 

 overflow-x: hidden;  
  

}

.aboutp {
    text-align: left!important; 
    color: #fff; 
    /* padding:0;
    margin: 0;  */
    margin-right: 85px;
    padding-right: 29px; 

} 

.aboutphoto {
 /*   border-radius: 50%; */
    float: left;
    width:200px;
    height:250px;
    margin-left: 180px; 
     margin-right:10px; 
}

ul { 
    text-align: center; 
    display: block; 
    padding: 0; 
    padding-top: 10px; 
}

.vertical { display: inline-block; 
    border-left: 2px solid #ff0080;
     padding-left: 10px;
     text-align: center; 
     }
.first { border-left: none; 
    padding-left: 0; 
}

.service-sec {
    display: table; 
    margin: 0 auto; 
}

h6 {
    text-align: center; 
}

 .ephoto { 
   width: 100%;
   height: auto;  
 }


.section2-exper {
    margin-top: 25px; 
    margin-bottom: 20px; 
    
    font-size: 25px; 
    background-image: linear-gradient(to bottom,gray 33%, transparent 33%, transparent 66%,gray 66%,gray); 
    background-position: 0 1.03em;
    background-repeat: repeat-x;
    background-size: 2px 4px;  
}

.service-hr {
    margin-top: 40px; 
}

.section2-services {
   font-size: 25px; 
   margin-top: 25px; 
   background-image: linear-gradient(to bottom,gray 33%, transparent 33%, transparent 66%,gray 66%,gray); 
    background-position: 0 1.03em;
    background-repeat: repeat-x;
    background-size: 2px 4px;
}

.portphoto {
    filter: gray; 
    -webkit-filter: grayscale(1);
    -webkit-transition: all .8s ease-in-out;
    margin-bottom: 0;  
  }
  
  .p-photo1 {
    height:300px; 
    width:700px; 
    text-align:center; 
  }
/* 
  .portphoto:hover {
      filter: none; 
      -webkit-filter: grayscale(0); 
      -webkit-transform: scale(1.01); 
  } */

  .middle {
      transition: .5s ease; 
      opacity: 0;
      position: absolute; 
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      -ms-transform: translate(-50%, -50%); 
      text-align: center; 
  }

.kitten-box:hover .portphoto {
    filter: none; 
    -webkit-filter: grayscale(0); 
    -webkit-transform: scale(1.01); 
}

.kitten-box .middle {
    opacity: 0;
    
} 

  .kitten-box:hover .middle {
      opacity: 1;
      
  } 

  /********MONIALS**************/

  #section5 {
  height: auto;
  margin-bottom: 50px;  

}

.monial-span {


  padding-bottom: 0; 
}

.carousel-inner p {
  margin-top: initial;
  font-size: initial;
}


/* Section #3 */
#section3 {
    padding-top: 30px; 
    padding-bottom: 70px;
    background:white;   
}

.contact-info li a  {
    color: white;
  font-weight: bolder;
    margin-right: 20px; 
}
  .contact-info li a:hover {
/*     background-color: black;  */
    color: yellow; 
/*     padding:10px;  */
   
    font-weight: bolder; 
  }

  .contact-info li i {
    color: yellow; 
  }
.contactInfo {
    color: white;
  font-weight: bolder; 
}

.contact-form {
    background-color: lightgray;
  
    /* opacity: 0.5;  */
}

 .form-submit {
    border: none;
    color: #fff; 
    font-weight: bolder;

}

/*.whiteSpace {
    margin-bottom: 100px; 
}*/

.contact-head {
    font-size: 15px; 
   /* margin-top: 40px; 
   /* padding-bottom: 40px;  */
}

i {
    margin: 20px; 
    margin-right: 10px;
    color: white; 
}



body {
    position: relative; 
    
 }

 /**SECTION 4*/
#section4 {
 background-image: url("lauren-mancke-96705-unsplash.jpg");
 height: auto; 
}

/*************Footer**********/

.panel-footer {
    /*background-color: gray; 
    color: white; */
    /*opacity: 0.7;*/
    margin-top: 15px; 
    height:auto; 
 }
 .foot1 {
    
 /*   padding-top: 10px; */
}
  
  .foot1:hover {
    color: #ff0080; 
  }

  .taylor {
  width: 40px; 
  height: 40px; 
  margin-top: initial;
  margin-bottom: 5px; 
}


}